html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#sidebar{
  width: 250px;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 0px;
  bottom: 97px;

  overflow-y: auto;
}

#content{
  margin: 0;
  padding: 0;

  position: absolute;
  top: 0px;
  left: 250px;
  bottom: 75px;
  right: 0px;

  overflow-y: auto;
}


#player{
  height: 75px;
  width: 100%;
  margin: 0;
  padding: 0;

  position: absolute;
  bottom: 0;

  display: table;
  white-space: nowrap;

  border-collapse: separate;
  border-spacing: 10px 0px;
}

#player .track-artist{
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  left: 50%;
  top: 10px;
}

#player .left-button,
#player .progress,
#player .volume-container,
#player .right-button,
#player .volume-button,
#player .total-time,
#player .elapsed-time{
  display: table-cell;
}

#player .volume-container{
  width: 100px;
  background: none;
}

#player .volume{
  display: inline-block;
  width: 100px;
  vertical-align: middle;
}

#player .progress{
  width: 100%;
  background: none;
}

#player .progressbar{
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

#player button{
  border: none;
  background: none;
  vertical-align: middle;
}

#player button i{
  font-size: 40px;
}

#player button .play{
  font-size: 60px;
}

#player .random, #player .repeat, #player .volume-icon{
  font-size: 20px;
}


#sidebar ul form input{
  position: relative;
  width: 150px;
  left: 75px;
  bottom: 75px;
}

#sidebar ul form button{
  border: none;
  background: none;
}

#sidebar ul form{
  margin-bottom: -75px;
}

#sidebar ul{
  margin-bottom: 20px;
}

#sidebar h4{
  font-weight: bold;
  color: grey;
}


#playlist table.fixed{
  position: fixed;
  background: white;
  top: 0px;
}

#playlist table.list{
  margin-top: 20px;
}


#local-library .figure{
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 1%;

  width: 15%;
  cursor: pointer;
}

#local-library .figure .caption{
  font-weight: bold;
  text-align: center;
}

#local-library .figure .image{
  background: url(../temp_assets/artist.jpg) 50% 50% no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 100%;
  border: 1px solid grey;
  border-radius: 5px;
}

#local-library .cover img{
  max-width: 100%;
}

#local-library .cover{
  margin-right: 20px;
}
